@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    max-width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    width: 100vw;
    align-items: center;
    height: 10vh;
    position: relative;
    width: 100vw;
    background: var(--Neutral-Silver, #F5F7FA);
}



.nav-bar div:nth-child(2) {
    width: 75vw;

}


.nav-bar div:nth-child(2)>ul>li {
    position: relative;
    list-style: none;
    left: 24%;
    float: left;
    color: var(--Text-Gray-900, #18191F);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 25px;
}

.nav-bar div:nth-child(3)>button:nth-child(1) {
    /* position: relative; */
    color: var(--Brand-Primary, #4CAF4F);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-style: none;
    background: var(--Neutral-Silver, #F5F7FA);
}

.nav-bar div:nth-child(3)>button:nth-child(2) {
    color: var(--Default-White, #FFF);
    text-align: center;
    border-radius: 6px;
    background: var(--Brand-Primary, #4CAF4F);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    position: relative;
    left: 10px;
    border-style: none;
    height: 30px;
    width: 70px;
}

.head {
    background: var(--Neutral-Silver, #F5F7FA);
    display: flex;
    flex-direction: column;
    padding: 96px 144px;
    align-items: center;
    /* gap: 104px; */
    align-self: stretch;
    text-align: left;
}



.top-row {
    /* color: ; */
    display: flex;
    align-items: center;
    /* Heading/Headline 1 */
    /* 118.75% */
}

.top-row>h1 {
    position: relative;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 76px; */
    background: linear-gradient(to bottom, #4D4D4D 50%, #4CAF4F 50%);
    -webkit-background-clip: text;
    color: transparent;

}


.top-row>img {
    width: 280px;
    height: 280px;
}

.bottom-row {
    display: flex;
    justify-content: left;
    position: relative;
    right: 25%;
    bottom: 55px;
    flex-direction: column;
}

.bottom-row>div:nth-child(1)>p {
    color: var(--Neutral-Grey, #717171);

    /* Body/Regular/Body 2 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    /* 150% */
}

.bottom-row>div:nth-child(2)>button {
    margin-top: 10px;
    padding-top: 0px;
    padding-right: 27px;
    width: 60px;
    height: 43px;
    padding-left: 30px;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--Brand-Primary, #4CAF4F);
    color: var(--Neutral-White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-style: none;
}

.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.clients>div:nth-child(1)>h1 {
    color: var(--Neutral-D_Grey, #4D4D4D);
    text-align: center;
    padding-top: 40px;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.clients>div:nth-child(2)>p {
    color: var(--Neutral-Grey, #717171);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.clients>div:nth-child(3) {
    display: flex;
    height: 98px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.clients>div:nth-child(4)>h1 {
    width: 542px;
    color: var(--Neutral-D_Grey, #4D4D4D);
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.clients>div:nth-child(5)>p {
    align-self: stretch;
    color: var(--Neutral-Grey, #717171);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.clients>div:nth-child(6) {
    display: flex;
    flex-direction: row;
}

.clients>div:nth-child(6)>div:nth-child(1) {
    display: flex;
    padding: 24px 32px;
    flex-direction: row;
    gap: 100px;
    flex-shrink: 0;
}

.clients>div:nth-child(6)>div:nth-child(1)>div {
    border-radius: 8px;
    background: var(--Neutral-White, #FFF);
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
    display: flex;
    width: 299px;
    padding: 24px 32px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 27px;
}

.clients>div:nth-child(6)>div:nth-child(1)>div>h2 {
    color: var(--Neutral-D_Grey, #4D4D4D);
    text-align: center;
    align-self: stretch;
    /* Heading/Headline 3 */
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 128.571% */
}

.clients>div:nth-child(6)>div:nth-child(1)>div>p {
    color: var(--Neutral-Grey, #717171);
    text-align: center;

    /* Body/Regular/Body 3 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    width: 251px;
}

.unseen {
    display: flex;
    /* width: 100vw; */
    /* padding: 0px 144px; */
    justify-content: space-between;
    justify-content: center;
}

.unseen>div:nth-child(1)>img {
    display: flex;
    width: 442px;
    height: 433px;
    padding: 52px 0.467px 52.005px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.unseen>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 100px 100px;
    gap: 50px;
}

.unseen>div:nth-child(2)>div:nth-child(1)>h1 {
    box-sizing: border-box;
    align-self: stretch;
    color: var(--Neutral-D_Grey, #4D4D4D);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    padding: 0 100px 0 0;
    /* 122.222% */
}

.unseen>div:nth-child(2)>div:nth-child(2)>p {
    color: var(--Neutral-Grey, #717171);

    /* Body/Regular/Body 3 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 0 100px 0 0;
}

.unseen>div:nth-child(2)>div:nth-child(3)>button {
    border-radius: 4px;
    background: var(--Brand-Primary, #4CAF4F);
    color: var(--Neutral-White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-style: none;
    width: 113px;
    height: 45px;
}

.business-reinvent-itself {
    color: #4caf4f;
}

.section-title {
    width: 408px;
    position: relative;
    line-height: 44px;
    font-weight: 600;
    display: inline-block;
}

.description {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #18191f;
}

.section-heading {
    width: 540px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.icon {
    width: 30px;
    position: relative;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
}

.number {
    font-size: 20px;
    width: 191px;
    position: relative;
    display: inline-block;
}

.label {
    width: 191px;
    position: relative;
    font-size: 14px;
    color: #717171;
    display: inline-block;
}

.details {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.icon1 {
    width: 30px;
    position: relative;
    height: 30px;
}

.row-1 {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.counts {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    font-size: 28px;
}

.achievements {
    width: 100%;
    position: relative;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 64px 144px;
    box-sizing: border-box;
    text-align: left;
    font-size: 36px;
    color: #4d4d4d;
    font-family: Inter;
}

.how_to {
    display: flex;
}

.how_to>div:nth-child(1) {
    box-sizing: border-box;
    padding: 70px;
}

.how_to>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.how_to>div:nth-child(2)>div:nth-child(1) {

    padding-left: 1px;
    padding-right: 238px;
    padding-top: 123px;

}

.how_to>div:nth-child(2)>div:nth-child(1)>h1 {
    color: var(--Neutral-D_Grey, #4D4D4D);

    /* Heading/Headline 2 */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 122.222% */
}

.how_to>div:nth-child(2)>div:nth-child(2)>p {
    color: var(--Neutral-Grey, #717171);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-right: 172px;

}

.how_to>div:nth-child(2)>div:nth-child(3)>button {
    border-radius: 4px;
    background: var(--Brand-Primary, #4CAF4F);
    color: var(--Neutral-White, #FFF);
    text-align: center;

    width: 114px;
    height: 47px;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    border-style: none;
}

.image-9-icon {
    width: 326px;
    position: relative;
    border-radius: 8px;
    height: 326px;
    object-fit: cover;
}

.we-have-enjoyed {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    font-weight: 500;
    font-size: 14px;
}

.tim-smith {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    font-size: 16px;
}

.british-dragon-boat {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #89939e;
}

.tim-smith-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 20px;
    color: #4caf4f;
}

.content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.logo-icon {
    width: 30px;
    position: relative;
    border-radius: 8px;
    height: 30px;
}

.logo-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 41px;
}

.meet-all-customers {
    width: 188px;
    position: relative;
    line-height: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 16px;
}

.arrows-directionsright {
    width: 24px;
    position: relative;
    height: 24px;
    object-fit: contain;
}

.meet-all-customers-parent {
    width: 223px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    box-sizing: border-box;
    gap: 8px;
}

.frame-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    font-size: 20px;
    color: #4caf4f;
}

.content-parent {
    width: 748px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}

.customers {
    width: 100%;
    position: relative;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 32px 144px;
    box-sizing: border-box;
    gap: 78px;
    text-align: left;
    font-size: 16px;
    color: #717171;
    font-family: Inter;
}

.caring {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 50px;
}

.caring>div:nth-child(1)>h1 {
    width: 100%;
    position: relative;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    font-family: Inter;
    color: #4d4d4d;
    text-align: center;
    display: inline-block;
}

.caring>div:nth-child(2)>p {
    width: 628px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter;
    color: #717171;
    text-align: center;
    display: inline-block;
}

.title-card {
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.title-card>div {
    height: 250px;
    width: 300px;
    position: relative;
    z-index: 1;
    border-radius: 5px;

}

.title-card>div:nth-child(1) {
    background-image: url(images/blog_1.svg);
}

.title-card>div:nth-child(2) {
    background-image: url(images/blog_2.png);
}

.title-card>div:nth-child(3) {
    background-image: url(images/blog_3.svg);
}

.card-parent>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 60%;
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: 2;
    top: 70%;
    left: 20%;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(171, 190, 209, 0.4);
}

.card-disc>h2 {
    color: var(--Neutral-Grey, #717171);
    text-align: center;
    padding: 15px;
    /* Heading/Headline 4 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 140% */
}

.card-disc>button {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--Brand-Primary, #4CAF4F);
    border-style: none;
    background-color: white;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
    background: var(--Neutral-Silver, #F5F7FA);
}

.demo>h1 {
    color: var(--Neutral-Black, #263238);
    padding: 50px;
    width: 887px;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;

}

.demo>button {
    display: flex;
    width: 157px;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--Brand-Primary, #4CAF4F);
    color: var(--Neutral-White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-style: none;

}
